NODE_ENV="development"

GEMINI_API_KEY="xxxxxxxx"
DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

AWS_ENDPOINT_URL="http://floci:4566"
AWS_DEFAULT_REGION="us-east-1"
AWS_ACCESS_KEY_ID="floci"
AWS_SECRET_ACCESS_KEY="floci"